@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;

    font-family: 'Open Sans', sans-serif;

    color: #8e98a7;
    background: #FBFBFC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    color: #363D46;
}

h3 {
    font-weight: 300;
}

body * {
    overflow: auto;
}

.Page {
    width: 100%;
    height: 100%;
}

.Page.Hidden {
    position: absolute;
}

.Overview {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.Selection {
    display: flex;
    flex-direction: row;
    
    padding: 3em;
}

.Selection > .choice {
    width: 10em;
    height: 11em;

    border-radius: 10%;
    border: 5px solid #EBECEC;
    
    margin-left: 2em;

    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    padding: 0.7em;
    box-sizing: border-box;

    -webkit-transition: linear background 0.2s;
    transition: linear background 0.15s;
}

.Selection > .choice:hover {
    cursor: pointer;
    background: #EBECEC;
}

.Selection > .choice > img {
    display: block;
    flex: 1 1 0;
    margin-bottom: 1em;
}


.Selection > .choice:first-child { margin-left: 0; }

input[type=text].biginput {
    display: block;
    border: none;
    outline: none;
    background: #F0F0F0;
    border-bottom: 0.2em solid #EAEAEA;
    font-size: 1.25em;
    line-height: 1.25;
    padding: 0.4em 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
    width: 100%;

    font-family: "Open Sans", "Lato", sans-serif;
}

input[type=button].biginput, button.biginput {
    border: none;
    background: #7dd744;
    border-bottom: 0.2em solid #6fbe3c;
    font-size: 1.25em;
    line-height: 1.25;
    padding: 0.4em 1em;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.thick {
    font-family: "Montserrat", "Open Sans", sans-serif !important;
}

.inline {
    display: inline;
}

input[type=button].biginput:active, button.biginput:active {
    color: rgba(0, 0, 0, 0.4);
}

#Page-Module {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#Page-Module > div {
    width: 100%;
    flex: 1 0 auto;

    display: flex;
    flex-direction: row;
}

#Page-Module > div > div {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

#Page-Module > div > div > *:not(:last-child) {
    margin-right: 0.75em;
}

#Page-Module > div:first-child, #Page-Module > div:last-child {
    height: 4em;
    flex: 0 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}
